Website fails with InvalidSettingsValueError: Setting 6 has invalid value 0

Hi,

I cam across this website https://www.cam.ac.uk
If I try to fetch `/` via h2, I get this error:
`InvalidSettingsValueError: Setting 6 has invalid value 0`

However, curl & Chrome seem to have no problem in loading the website.

Minimal example to reproduce the error:
```python
#!/usr/bin/env python3

import certifi
import h2.connection
import h2.events

import errno
import socket
import ssl
import time

SERVER_NAME = 'www.cam.ac.uk'

socket.setdefaulttimeout(2)

c = h2.connection.H2Connection()
c.initiate_connection()

ctx = ssl.create_default_context(cafile=certifi.where())
ctx.set_alpn_protocols(['h2', 'http/1.1'])
ctx.set_npn_protocols(['h2', 'http/1.1'])

s = socket.create_connection((SERVER_NAME, 443))
s = ctx.wrap_socket(s, server_hostname=SERVER_NAME)

s.sendall(c.data_to_send())

headers = [
    (':method', 'GET'),
    (':path', '/'),
    (':authority', SERVER_NAME),
    (':scheme', 'https'),
]
c.send_headers(1, headers, end_stream=True)
s.sendall(c.data_to_send())

while True:
    data = s.recv(65536 * 256)
    if not data:
        break

    events = c.receive_data(data)
    s.sendall(c.data_to_send())

    for event in events:
        print(event)
```

Yep, I can reproduce this.

Digging in a bit, it looks like the endpoint is sending the `MAX_HEADER_LIST_SIZE` setting with a value of 0. This is [the code in h2](https://github.com/python-hyper/hyper-h2/blob/master/h2/settings.py#L271) that rejects that value:

```python
elif setting == MAX_HEADER_LIST_SIZE:
    if not value > 0:
        return ErrorCodes.PROTOCOL_ERROR
```

which eventually bubbles up as an `InvalidSettingsValueError`.

Looking at [RFC 7540](https://tools.ietf.org/html/rfc7540), it’s not obvious to me why we don’t allow zero here. The initial description of the setting doesn’t specify a minimum value (emphasis mine):

> SETTINGS_MAX_HEADER_LIST_SIZE (0x6):  **This advisory setting informs a peer of the maximum size of header list that the sender is prepared to accept, in octets**.  The value is based on the uncompressed size of header fields, including the length of the name and value in octets plus an overhead of 32 octets for each header field. (RFC 7540 § 6.5.2)

Earlier in the document, *header list* is defined as follows:

> Header lists are collections of zero or more header fields. (RFC 7540 § 4.3)

If a header list can be zero length, presumably it’s okay for a peer to say that it won’t accept anything in the header list?

If I tweak that code to read `if value < 0`, I can no longer reproduce the issue. It still doesn’t exit cleanly – I get a `socket.timeout` instead – but I don’t think that’s a bug in the hyper-h2 code.

Also, my C is incredibly rusty, but it looks to me like nghttp2 (which sits under curl) is passing [this setting value straight through](https://github.com/nghttp2/nghttp2/blob/master/lib/nghttp2_session.c#L4435) without doing any validation on it:

```c
case NGHTTP2_SETTINGS_MAX_HEADER_LIST_SIZE:
  session->remote_settings.max_header_list_size = entry->value;
  break;
```

Is hyper-h2 being stricter than the spec in this case?

Yeah, I think this is just an error. The header list should allow size zero.