Reject response header blocks that don’t include the `:status` field

Quoting from [RFC 7540 section 8.1.2.4](https://tools.ietf.org/html/rfc7540#section-8.1.2.4):

> For HTTP/2 responses, a single `":status"` pseudo-header field is
   defined that carries the HTTP status code field (see [RFC7231],
   Section 6).  This pseudo-header field MUST be included in all
   responses; otherwise, the response is malformed (Section 8.1.2.6).

This would mean adding another check in `utilities.py` to cover the possibility that this pseudo-header field is missing, and adding some new test cases in `test_invalid_headers.py`.

@Lukasa I’m not going to do this myself, because (1) I don’t have the time right now, and (2) I think this might be a good first patch for somebody else to take on.

But I did have a brief look at it, and I think we might want another field on `HeaderValidationFlags`. Specifically – is this header block being sent or received?

The sensible place (performance-wise) to do this check would be `_reject_pseudo_header_fields` – we’ve already built up a set of pseudo-header field names, so we can just check `b':status' in seen_pseudo_header_fields`, but I don’t think the current header validation flags give us enough information to know if this is a response or not.

(Buttons, how do they work?)

Thanks for raising this up @alexwlchan! @python-hyper/contributors, if any of you feel like picking this up *or* have someone in mind who needs a good start in OSS, please assign the issue to yourself and tag the person you want to do the work. If not, I'll also go looking to find a new OSS contributor.

I dont mind picking this up when I get back to work on Monday. 

Can I ask what is the difference between a header and a pseudo header?

When ```b':status'```  is set as a header, it seems to be stripped out in ```validate_headers```.  And what need to go in the ```HeaderValidationFlags``` tuple? 

Header *validation* should never strip a header. It may reject a header block (raise `ProtocolError`), but never strip a header. Do you have a test case that shows this behaviour?


As to in `HeaderValidationFlags`, I think the flag we need is `"is_response_header"`, which is set to `True` when we're sending a response header block.

```seen_pseudo_header_fields``` is initialised as an empty set in ```_reject_pseudo_header_fields```  which is not mutated. How then can we ever raise the  ProtocolError about a duplicate pseudo-header field? 

Not sure what to do with ```"is_response_header"``` 

https://github.com/aidylewis/hyper-h2/commit/03124fb35efd64a53f7c086bae3503502b9811dc

And this change is going to break a lot of tests

See my notes on the commit. =)

Not sure I will be able to finish this soon because of other commitments. 

Sure thing @aidylewis, that's no problem at all. This can go back on the pile. =)

I can pick this up if it's okay. 

Fine by me!

Resolved by #311.