Support plaintext upgrade.

We should support receiving (and initiating) plaintext upgrade, as defined in [RFC 7540 § 3.2](https://tools.ietf.org/html/rfc7540#section-3.2).

Essentially, this just needs to be a variant on `initiate_connection` that primes the appropriate internal state. For the client side it should probably emit the `HTTP2-Settings` header field (just to make life easier for people). For the server-side it should take such a field.

Then, it should initialize its internal state such that it believes that a HTTP/2 request was already received. The obvious (but wrong) way to do this is to just manufacture a request to *actually* receive, but that affects the HPACK compression state so we can't do it. Instead, we need a hook in the `H2Stream` that allows us to create stream 1 and immediately flip it to half-closed with the appropriate state bits set. This needs to happen for both the client and the server.

For both it should *also* emit the HTTP/2 preamble (client or server side as appropriate), because that's still required.

While we're delaying around the Twisted side of things anyway, we should aim to land this in the 2.3.0 release. 2.3.0 is beginning to look a bit like a blockbuster!

Let's call the new method `initiate_plaintext_connection`.

:sparkles: 

FYI, nghttp2 has the dedicated API for HTTP Upgrade: https://nghttp2.org/documentation/nghttp2_session_upgrade2.html
It behaves differently depending on the session is on client side or server side, but essentially it receives the value of HTTP2-Settings header field, and create stream ID 1.


Ok, so here's my proposed API.

```python
def initiate_upgrade_connection(self, settings_header=None):
    """
    Call to initialise the connection object for use with an upgraded HTTP/2
    connection (i.e. a connection negotiated using the ``Upgrade: h2c``
    HTTP header).

    This method differs from `initiate_connection` in several ways. Firstly,
    it handles the additional SETTINGS frame that is sent in the ``HTTP2-Settings``
    header field. When called on a client connection, this method will return a
    bytestring that the caller can put in the ``HTTP2-Settings`` field they send on
    their initial request. When called on a server connection, the user **must**
    provide the value they received from the client in the ``HTTP2-Settings``
    header field to the ``settings_header`` argument, which will be used
    appropriately.

    Additionally, this method sets up stream 1 in a half-closed state appropriate
    for this side of the connection, to reflect the fact that the request is already
    complete.

    Finally, this method also prepares the appropriate preamble to be sent after
    the upgrade.
    """
    pass
```

We'll need some additional docs for this: probably we'll want to add a whole new section about "Negotiating HTTP/2" to explain the various options that are available to people. Maybe an example as well.