Errors with cookie handling during decompression.

Spotted by @hawkowl.

RFC 7540 Section 8.1.2.5 reads as follows:

> To allow for better compression efficiency, the Cookie header field MAY be split into separate header fields, each with one or more cookie-pairs.  If there are multiple Cookie header fields after decompression, these MUST be concatenated into a single octet string using the two-octet delimiter of 0x3B, 0x20 (the ASCII string "; ") before being passed into a non-HTTP/2 context, such as an HTTP/1.1 connection, or a generic HTTP server application.

We are very much in violation of that MUST right now. This is breaking some Twisted applications that work with multiple cookies, whereby cookies are getting lost because Twisted (rightly) expects only a single cookie header.

For the moment, this issue tracks only the MUST. Later on we may want to tackle the other side of this (the MAY).

My belief is that the last sentence of that paragraph makes this a hyper-h2 issue, not a hpack issue: HTTP/2 contexts may want to see those headers individually, but in general we shouldn't show them to users that way. This means we need to add another step to the inbound header normalization pipeline that grabs all cookie fields and concatenates them together.

This bug also affects a number of previous versions, so will want to be backported to the current backport releases.

Actually, ok, I don't think we can backport this. We previously haven't normalized inbound header fields in this way, so starting to do so is absolutely a breaking change unless it defaults to "off". That default is extremely not helpful, so it would probably be better just to call this a 3.0 type change and bump the major version.

I don't feel it's really a breaking change if it's a straight violation of
the spec. As a user, I'd count this as a bug fix. Plus, the separated and
joined cookie values are semantically the same, and some HTTP/2 clients can
send them ;-joined anyway, so your server would need to understand it
anyway.

On 22 Mar 2017 22:42, "Cory Benfield" <notifications@github.com> wrote:

> Actually, ok, I don't think we can backport this. We previously haven't
> normalized inbound header fields in this way, so starting to do so is
> absolutely a breaking change unless it defaults to "off". That default is
> extremely not helpful, so it would probably be better just to call this a
> 3.0 type change and bump the major version.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/python-hyper/hyper-h2/issues/497#issuecomment-288374029>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ADJ2XDP5jrZ1zk8_BT-SEthg5ymlAQj7ks5roQk_gaJpZM4MlCqL>
> .
>


@hawkowl So it depends on the user. In particular, mitmproxy are heavy users of hyper-h2 and need the ability to get hold of the unedited headers as they were received from the remote peer. That means that this needs to be controlled by a switch, and if I just shove out a release that changes this behaviour then mitmproxy will break.

So the only safe call is to make this a clean break and leap over to 3.0. If Twisted wants a bugfix to continue supporting older hyper-h2 releases that's totally fine, and I'm happy to write it, but for the general community of hyper-h2 users we should hop over to 3.0. It's probably about time anyway: the 2.0 release series is now more than a year old.

If we're gonna do a bugfix, might as well just update twisted to use 3.0 in
17.4.

On 22 Mar 2017 10:56 PM, "Cory Benfield" <notifications@github.com> wrote:

> @hawkowl <https://github.com/hawkowl> So it depends on the user. In
> particular, mitmproxy are heavy users of hyper-h2 and need the ability to
> get hold of the unedited headers as they were received from the remote
> peer. That means that this needs to be controlled by a switch, and if I
> just shove out a release that changes this behaviour then mitmproxy will
> break.
>
> So the only safe call is to make this a clean break and leap over to 3.0.
> If Twisted wants a bugfix to continue supporting older hyper-h2 releases
> that's totally fine, and I'm happy to write it, but for the general
> community of hyper-h2 users we should hop over to 3.0. It's probably about
> time anyway: the 2.0 release series is now more than a year old.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/python-hyper/hyper-h2/issues/497#issuecomment-288376973>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ADJ2XAmcLxP96gTRXxAcDkjaKXv_NITcks5roQyDgaJpZM4MlCqL>
> .
>


Yeah, I think I agree. Let's just all move forward and make better software. Version numbers are cheap anyway.

how to get  and set cookie with the hyper

Yeah, it doesn't appear that Hyper handles setting cookies properly. I use the Http 2.0 adapter with requests like this:

`self.mount('https://', HTTP20Adapter())`

In my logs, it says it does see the "Set-Cookie" in the response:

`2:50:08 PM worker.1      |  [2019-03-09 20:50:08,626: DEBUG/MainProcess] Decoded (b'set-cookie', b'loid=00000000003dl6f47f.2.1552164608351.Z0FBQUFB....`

However, when trying to manipulate the cookie, I see that the cookie is of None type:

```
return 't2_{}'.format(self.loid_cookie.split('.')[0].strip('0'))
2:50:05 PM worker.1      |  AttributeError: 'NoneType' object has no attribute 'split'
```

When doing this with vanilla requests, without the adapter, it works and sets the cookie.

Yeah, it doesn't appear that Hyper handles setting cookies properly. I use the Http 2.0 adapter with requests like this:

`self.mount('https://', HTTP20Adapter())`

In my logs, it says it does see the "Set-Cookie" in the response:

`2:50:08 PM worker.1      |  [2019-03-09 20:50:08,626: DEBUG/MainProcess] Decoded (b'set-cookie', b'loid=00000000004df6f47d.5.1552164609650.Z0FBQUFB....`

However, when trying to manipulate the cookie, I see that the cookie is of None type:

```
return 't2_{}'.format(self.loid_cookie.split('.')[0].strip('0'))
2:50:05 PM worker.1      |  AttributeError: 'NoneType' object has no attribute 'split'
```

When doing this with vanilla requests, without the adapter, it works and sets the cookie.

@adrianmeraz that seems like it is an issue with the Hyper library rather than the Hyper-h2 library? Could you try using httpx rather than hyper?

@pgjones Ahh, is Hyper-H2 the core for clients to be wrapped around? If that's the case, I apologize for asking my question in the wrong place. Regarding the Hyper client, it doesn't work properly for setting cookies, and it doesn't seem that it has been maintained in two years. 

Please forgive my ignorance, but what is the de-facto standard, maintained HTTP/2 client for Python? HttpX doesn't work with proxies. My use case requires having the ability to Set Cookies appropriately, set proxies, and also set HTTP/2 headers/pseudo headers.

I think httpx is the maintained HTTP/2 client for Python. I think if you open an issue on httpx asking about proxy support, it is likely to be picked up. (There is quite a lot of momentum behind the project at the moment).