Consider policing content-length.

This is an interesting idea: should we reject invalid content-lengths? RFC 7540 § 8.1.2.6 says so:

> A request or response that includes a payload body can include a content-length header field.  A request or response is also malformed if the value of a content-length header field does not equal the sum of the DATA frame payload lengths that form the body.
>
> Malformed requests or responses that are detected MUST be treated as a stream error (Section 5.4.2) of type PROTOCOL_ERROR.

This suggests that we should be keeping track of this. However, I'm a bit nervous that tools like mitmproxy may want to let the invalid stream stand, despite RFC 7540 warning against this:

> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) MUST NOT forward a malformed request or response.

The other option would be to require that the policing of the content length be done by the tools that wrap hyper-h2.

@Kriechi @mhils thoughts?

I guess mitmproxy is (should be) more liberal and transparent in that sense.
What happens with HEAD-requests, which carry a content-length headers (e.g. a file download)?

Responses to HEAD requests are exempted, as are 304 Not Modified responses to GET requests. Those are both defined to have empty bodies and getting that wrong should be an error.

However, given the relative difficulty of enforcing this at the hyper-h2 level, I may punt on it and instead mandate that it be enforced at a higher level.

> This suggests that we should be keeping track of this. However, I'm a bit nervous that tools like mitmproxy may want to let the invalid stream stand, despite RFC 7540 warning against this:

This is a double-edged sword. With mitmproxy, we generally want to test against application-layer bugs. For protocol-level errors, you'd use pathod.

In HTTP1, manual content length header processing is a realistic application-layer issue (hello, PHP). For HTTP2, this *shouldn't* be the case if all HTTP2 implementations handle this as per the RFC, so, in theory, there's no need for us to generate such invalid frames in mitmproxy (that'd be pathod's thing then).

Practice may look a bit different, so it's probably nice to have, but not a blocker for us. For more obscure fuzzing cases, one can always resort to pathod.

Ok, for now let's bring this into hyper-h2. If that turns out to be problematic, we can consider making content-length tracking a conditional flag.